# Python 缓存文件
__pycache__/
*.py[cod]

# 虚拟环境
.venv
venv/
env/

# macOS 系统文件
.DS_Store

# (重要) 忽略您的数据和结果
data/raw/
data/processed/
results/visualization/

# (source /Applications/Cursor.app/Contents/Resources/app/out/vs/workbench/contrib/terminal/common/scripts/shellIntegration-rc.zsh极其重要source /Applications/Cursor.app/Contents/Resources/app/out/vs/workbench/contrib/terminal/common/scripts/shellIntegration-rc.zsh) 忽略您的配置文件，防止API Key泄露
config.py
config.yaml

